body {
    background-color: black;
}

h1 {
    font-size: 60px;
    color: cyan;
    position: relative;
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
}

h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, crimson 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.3s, opacity 1s;
}

h1:hover::before {
    transform: scale(20, 20);
    opacity: 1;
}